extend base.pug 

block scripts
    script (src='../static/index.js');
block style 
    style 
        include ../static/style.css 

block content 
    section#introSection 
        div Welcome to Mohit'Dance Academy 
        div.small Eat Sleep Dance Repeat 
    
    section#missionSection 
        h2 Our Mission 
        div.card 
            h3 Dance perfection
            div.card-Box
                div.card-img 
                    img(src="/static/img/1.png")
                div.card-content
                    p This is best DanceAcademy in the world 
        div.card 
            h3 Dance The Way Like You
            div.card-Box
                div.card-img 
                    img(src="/static/img/2.png")
                div.card-content
                    p This is best DanceAcademy in the world 
        div.card 
            h3 Expert Teaching
            div.card-Box
                div.card-img 
                    img(src="/static/img/3.png")
                div.card-content
                    p This is best DanceAcademy in the world 

    section#sponsorSection 
        h2 Our Sponsors
        div#sponsorId 
            img(src="/static/img/logo1.png", alt="Sponsor Image" Class="spImage")
            img(src="/static/img/logo2.png", alt="Sponsor Image" Class="spImage")
            img(src="/static/img/logo3.png", alt="Sponsor Image" Class="spImage")
            img(src="/static/img/logo4.png", alt="Sponsor Image" Class="spImage")
