
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    min-height: 70vh;
    margin: 35px 0px;


}
h1{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin: 12px 0px;
}
.myForm{
    display: flex;
    flex-direction: column;
 
    justify-content: center;
    align-items: center;
}


.myInput{
    width: 501px;
    padding: 4px;
    margin: 5px;
    font-size: 14px;
    border: 1.5px solid black;
    border-radius: 10px;
    outline: none;

}
.btn{
    padding: 5px 13px;
    font-size: 13px;
    border: 2px solid #362929;
    border-radius: 6px;
    color: white;
    background: #bd9494;
    cursor: pointer;
    margin: 10px 0px;
    outline: none;
    font-family: 'Roboto Mono', monospace;

}